/* Custom Search Input */
.custom-search-input .ant-input-affix-wrapper {
    background-color: #1b2533 !important;
    border-color: #374151 !important;
    color: white;
  }
  
  .custom-search-input .ant-input {
    background-color: #1b2533 !important;
    color: white;
  }
  
  .custom-search-input .ant-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .custom-search-input .ant-input-affix-wrapper-focused {
    border-color: #3b82f6 !important;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
  }
  
  /* Custom Table Styles */
  /* Custom Table Styles */
  .custom-table .ant-table {
    background-color: #1b2533 !important;
    color: white;
  }
  
  .custom-table .ant-table-thead > tr > th {
    background-color: #2d3a4b !important;
    color: white;
    border-bottom: 1px solid #374151 !important;
  }
  
  .custom-table .ant-table-tbody > tr > td {
    border-bottom: 1px solid #374151 !important;
    color: white;
  }
  
  .custom-table .ant-table-tbody > tr:hover > td {
    background-color: #161f2e !important;
  }
  
  .custom-table .ant-pagination-item {
    background-color: #1b2533 !important;
    border-color: #374151 !important;
    color: white;
  }
  
  .custom-table .ant-pagination-item-active {
    background-color: #3b82f6 !important;
    border-color: #3b82f6 !important;
    color: white;
  }
  
  .custom-table .ant-pagination-item:hover {
    border-color: #3b82f6 !important;
  }
  
  .custom-table .ant-pagination-prev .ant-pagination-item-link,
  .custom-table .ant-pagination-next .ant-pagination-item-link {
    background-color: #1b2533 !important;
    border-color: #374151 !important;
    color: white !important;
  }
  
  .custom-table .ant-pagination-prev:hover .ant-pagination-item-link,
  .custom-table .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: #3b82f6 !important;
  }
  
  .ant-table-placeholder {
    background-color: #1b2533 !important ;
  }
  
  .ant-table-placeholder {
    background-color: #1b2533 !important ;
  }
  
  /* Ensure table row hover state is maintained */
  .custom-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background-color: #3b4252 !important;
  }
  
  /* Ensure the Popconfirm does not interfere with the table row hover */
  .custom-table
    .ant-table-tbody
    > tr.ant-table-row:hover
    > td
    .ant-popover-inner {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  